<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/tasklist" routerLinkActive="active">Task Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Create Task <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/tasklist" routerLinkActive="active">List Task <span class="sr-only">(current)</span></a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0" >
        <a *ngIf="loggedIn" class="nav-link" href="#" style="color: black">Welcome {{userName}} <span class="sr-only">(current)</span></a>
     </form>
    </div>
  </nav>