<nav class="navbar navbar-expand-lg" style="background-color: white;">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <h1 class="display-3">Task:  {{taskName}}</h1>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
        </ul>

        <div class="my-2 my-lg-0">

            <p>
                <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                  Add Subtask
                </button>
            </p>
        </div>

    </div>
</nav>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="card">
        <div class="card-body">
            <form ngNativeValidate [formGroup]="subtaskForm" (ngSubmit)="onFormSubmit()">
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input formControlName="Title" type="text" class="form-control mb-2" id="Title" name="Title" placeholder="Title">
                  </div>
                  <div class="col-auto">
                    <div class="input-group mb-2">
                      <input formControlName="Description" type="text" class="form-control" id="Description" name="Description" placeholder="Description">
                    </div>
                  </div>
                  <div class="col-auto">
                    <input formControlName="Duedate" type="text" class="form-control mb-2" id="Duedate" name="Duedate" placeholder="Duedate">
                  </div>
                  <div class="col-auto">
                    <div class="form-check form-check-inline">
                        <input formControlName="Status" class="form-check-input" type="radio" name="Status" id="Status" value="Complete">
                        <label class="form-check-label" for="inlineRadio1">Complete</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input formControlName="Status" class="form-check-input" type="radio" name="Status" id="Status" value="Incomplete">
                        <label class="form-check-label" for="inlineRadio2">Incomplete</label>
                      </div>
                   </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Add Subtask</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
  <div class="row">
    <div class="table-responsive" style="margin: 20px;">
        <table id="productSizes" class="table">
            <thead>
                <tr class="d-flex">
                    <th class="col-1">SubTaskID</th>
                    <th class="col-1">Title</th>
                    <th class="col-1">Description</th>
                    <th class="col-1">Due Date</th>
                    <th class="col-1">Status</th>
                </tr>
            </thead>
            <tbody *ngFor="let subtask of subTasks | async">
                <tr class="d-flex" style="background-color: #f5f2e9">
                    <td class="col-1">{{subtask.Id}}</td> 
                    <td class="col-1">{{subtask.Title}}</td>
                    <td class="col-1">{{subtask.Description}}</td>
                    <td class="col-1">{{subtask.Duedate}}</td>
                    <td class="col-1">{{subtask.Status}}</td> 
                    <td class="col-1" ><button *ngIf="subtask.Status=='Incomplete'" type="button" class="btn btn-outline-success" (click)="markAsCompleted(subtask.Id)">Complete</button></td>
                </tr>  
            </tbody>    
        </table>
    </div>
  </div>