<div style="background-color: white;margin: 20px;">
    <div class="modal-header">
        <h4 class="modal-title" style="font-family: sans-serif;">Login In</h4>
      </div>
      <p>{{errormessage}}</p> 
      <div class="modal-body col-sm-5">
        <form ngNativeValidate [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
            <div class="form-group">
              <input formControlName="Email" class="form-control" type="email" name="Email" id="Email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input formControlName="Password" class="form-control" type="Password" name="Password" id="Password" placeholder="Password" required>
            </div>
            <button  type="submit" class="btn btn-primary btn-block" style="background-color: #FFA500; border-color: #FFA500;">Submit</button>
            <br>
            <a routerLink="/register" routerLinkActive="active">Do not have an account.</a>
        </form>
      </div>
  </div>