<nav class="navbar navbar-expand-lg" style="background-color: white;">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" href="#" style="color: black; font-size: 25px;">
                <img src=""  alt="">
                Task List
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
        </ul>
    </div>
</nav>
  <div class="row">
    <div class="table-responsive" style="margin: 20px;">
        <table id="productSizes" class="table">
            <thead>
                <tr class="d-flex">
                    <th class="col-1">TaskID</th>
                    <th class="col-1">Title</th>
                    <th class="col-1">Description</th>
                    <th class="col-1">Due Date</th>
                    <th class="col-1">Status</th>
                </tr>
            </thead>
            <tbody *ngFor="let task of TaskList | async">
                <tr class="d-flex" style="background-color: #f5f2e9">
                    <td class="col-1">{{task.Id}}</td> 
                    <td class="col-1">{{task.Title}}</td>
                    <td class="col-1">{{task.Description}}</td>
                    <td class="col-1">{{task.Duedate}}</td>
                    <td class="col-1">{{task.Status}}</td> 
                    <td class="col-1" ><button *ngIf="task.Status=='Incomplete'" type="button" class="btn btn-outline-success" (click)="markAsCompleted(task.Id)">Complete</button></td>
                    <td class="col-1" ><button type="button" class="btn btn-outline-primary" (click)="subtaskNavigation(task.Id)">SubTasks</button></td>
                </tr>  
            </tbody>   
        </table>
    </div>
  </div>