<nav class="navbar navbar-expand-lg" style="background-color: white;">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" href="#" style="color: black; font-size: 25px;">
                <img src=""  alt="">
                Task List
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
        </ul>

        <div class="my-2 my-lg-0">

            <p>
                <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
                  Add Task
                </button>
            </p>
        </div>

    </div>
</nav>
<div id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="card">
        <div class="card-body">
            <form ngNativeValidate [formGroup]="taskForm" (ngSubmit)="onFormSubmit()">
                <div class="form-row align-items-center">
                  <div class="col-auto">
                    <input formControlName="Title" type="text" class="form-control mb-2" id="Title" name="Title" placeholder="Title">
                  </div>
                  <div class="col-auto">
                    <div class="input-group mb-2">
                      <input formControlName="Description" type="text" class="form-control" id="Description" name="Description" placeholder="Description">
                    </div>
                  </div>
                  <div class="col-auto">
                    <input formControlName="Duedate" type="text" class="form-control mb-2" id="Duedate" name="Duedate" placeholder="Duedate">
                  </div>
                  <div class="col-auto">
                    <div class="form-check form-check-inline">
                        <input formControlName="Status" class="form-check-input" type="radio" name="Status" id="Status" value="Complete">
                        <label class="form-check-label" for="inlineRadio1">Complete</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input formControlName="Status" class="form-check-input" type="radio" name="Status" id="Status" value="Incomplete">
                        <label class="form-check-label" for="inlineRadio2">Incomplete</label>
                      </div>
                   </div>
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">Add Subtask</button>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
<form>
  <div class="row" style="margin-left: 10px;">
    <div class="col-1">
      <a  style="color: black; font-size: 25px;">
        Filter:
    </a> &nbsp; &nbsp;
    </div>
    <div class="col-2">
      <button (click)=" getStatusTask(All)" type="button" class="btn btn-outline-secondary btn-block">All</button> &nbsp;
    </div>
    <div class="col-2">
      <button (click)=" getStatusTask(Completed)" type="button" class="btn btn-outline-warning btn-block">Complete</button> &nbsp;
    </div>
    <div class="col-2">
      <button (click)=" getStatusTask(Incomplete)" type="button" class="btn btn-outline-info btn-block">InComplete</button> &nbsp;
    </div>
  </div>
</form>
  <div class="row">
    <div class="table-responsive" style="margin: 20px;">
        <table id="productSizes" class="table">
            <thead>
                <tr class="d-flex">
                    <th class="col-1">TaskID</th>
                    <th class="col-1">Title</th>
                    <th class="col-1">Description</th>
                    <th class="col-1">Due Date</th>
                    <th class="col-1">Status</th>
                </tr>
            </thead>
            <tbody *ngFor="let task of TaskList | async">
                <tr class="d-flex" style="background-color: #f5f2e9">
                    <td class="col-1">{{task.Id}}</td> 
                    <td class="col-1">{{task.Title}}</td>
                    <td class="col-1">{{task.Description}}</td>
                    <td class="col-1">{{task.Duedate}}</td>
                    <td class="col-1">{{task.Status}}</td> 
                    <td class="col-1" ><button *ngIf="task.Status=='Incomplete'" type="button" class="btn btn-outline-success" (click)="markAsCompleted(task.Id)">Complete</button></td>
                    <td class="col-1" ><button type="button" class="btn btn-outline-primary" (click)="subtaskNavigation(task.Id, task.Title)">SubTasks</button></td>
                </tr>  
            </tbody>   
        </table>
    </div>
  </div>