<div style="background-color: white;margin: 20px;">
    <div class="modal-header">
        <h4 class="modal-title" style="font-family: sans-serif;">Registration</h4>
      </div>
      <div class="modal-body col-sm-5">
        <form ngNativeValidate [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
            <div class="form-group">
              <input formControlName="Name" class="form-control" aria-describedby="Name" placeholder="Name" type="text" name="Name" id="Name" required>
            </div>
            <div class="form-group">
              <input formControlName="Email" class="form-control" type="email" name="Email" id="Email" placeholder="Email" required>
            </div> 
            <div class="form-group">
                <input formControlName="Password" class="form-control" type="Password" name="Password" id="Password" placeholder="Password" required>
            </div>
            <br>
            <br>
            <button  type="submit" class="btn btn-primary btn-block" style="background-color: #FFA500; border-color: #FFA500;">Submit</button>
          </form>
      </div>
  </div> 